body {
    background-color: #000000 ;
display: flex ;
flex-direction : column ;}

.container {
    flex : 1 ;
}
footer{
  z-index : 1030 ;
  bottom : 0 ;
  left : 0;
  right : 0 ;
  width :100% ;
  color : white ;
  background-color :#eeb1d8 ;
}
header{
  width: 80%;
  margin: 0 auto;
  margin-bottom : 40px ;
}
  a:link
  {text-decoration: none;
  font-family: helvetica;
  color:#eeb1d8 !important ;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#eeb1d8 !important
  }

  h1{font-family: helvetica;
  color:#eeb1d8;
  text-align: center;
  font-size: 40pn;
  }

  * {
    box-sizing: border-box;
    margin : 0 ;
    padding : 0 ;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .column {
    text-align: center;
  }

  .column img {
    margin-bottom: 10px;
  }

  .column p {
    margin-top: 0;
    font-family: Helvetica;
    color:#eeb1d8;
  }

 .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction :column ;
    margin-bottom : 40px ;
}
.header{
    background-color: #ffffff;
    display :flex;
    padding : 1em ;

}
nav{
  display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    margin-bottom : 40px ;
    align-items: center;
}
li{
  list-style : none ;
}
a{
  text-decoration :none ;
}
div.left {
  color : #eeb1d8 ;
  font-size : 16 px  ;
  text-transform : uppercase ;
margin-right : 45px ;
display :flex ;
gap :40px ;
justify-content: center;
    align-content: center;
    align-items: center;
}
a#login{
  background-color: white;
    width: 175px;
    padding: 10px 30px;
    text-align: center;
    font-weight: bolder;
    border-radius: 25px;
}
a#login:hover{
  background-color : #38ed7c;
  color : #ffffff;
  font-weight : bold ;
}
  p {
    font-family: helvetica;
    flex: 1 0 20%;
    font-size: 20px;
    text-align: center;
    color:#38ed7c;
    font-weight : 700;
  }

  .subtext {
    font-family: helvetica;
    font-size: 12px;
    display: block;
    text-align: center;
    color: #eeb1d8;
    font-weight: bolder;
  }

img{
  margin-top:10px
}


#main-img{
    background-size: cover;
    background-position: center ;
    width: 100%;
    height: 375px;

}
div.row {
  width: 80% ;
  margin : 0 auto ;
  margin-bottom : 40px ;
}
div#carouselExampleCaptions{
  margin : 40px ;
  padding : 1em ;
}
.text{
  margin-bottom : 10px ;
}
.subtext{
  margin-top : 10px ;
}
.carousel-item img{
  height :375px !important ;
}